<div id="contenedorPrinc">
	<div class="noticiasPrinc" *ngFor="let i of indicesPort">
		<div class="imgNoticiasPrinc"><img class="imagenPrinc" src="../../assets/login.png"></div>
		<div class="detallesPrinc">{{noticiaPort[i].fecha}}</div>
		<div class="tituloPrinc"><p>{{noticiaPort[i].titulo}}</p></div>
	</div>
</div>

<div id="contenedorSec">
	<div class="noticiasSec" *ngFor="let i of indices">
		<div class="imgNoticiasSec"><img class="imagenSec" src="../../assets/login.png"></div>
		<div class="detallesSec">{{noticias[i].fecha}}</div>
		<div class="tituloSec"><p>{{noticias[i].titulo}}</p></div>
	</div>
</div>

