$anchuraPrincipal: 940px;
$alturaPrincipal: 420px;

#contenedorPrinc, #contenedorSec {
	width: $anchuraPrincipal;
	border: 1px solid;
	border-radius: 10px;
}

// contenedor > [ noticias} > [imgNoticias , detalles , titulo] ]

.noticiasPrinc {
	margin: 1% 20% 0 20%;
}

.noticiasPrinc > * {
	margin: 3% 10% 1% 10%;
}

.imagenPrinc {
	height: 100%;
	width: 80%;
	left: 20%;
	margin: 0 10% 3% 10%
}

.detallesPrinc {
	font: 15px times;
	font: 15px;
}

.tituloPrinc > p {
	font: 30px bold times;
	text-align: justify;
}

// IMAGENES SECUNDARIAS
$alturaSecundaria: 300px;

.noticiasSec {
	display: inline-block;
	width: 30%;
	margin: 1% 0 0 2%;
}

.noticiasSec > * {
	margin: 3% 10% 1% 10%;
}

.imagenSec {
	width: 90%;
	height: $alturaSecundaria * 0.60;
}

.detallesSec {
	font: 15px times;
}

.tituloSec > p{
	font: 20px bold times;
	text-align: justify;
}

.titulo :hover {
	background-color: #ddd;
	color: black;
}