<div id="contenedorPrinc">
	<div class="noticiasPrinc">
		<div class="imgNoticiasPrinc"><img class="imagenPrinc" src="../../assets/login.png" alt=""></div>
		<div class="detallesPrinc">coordinates, all from the top-left corner of the</div>
		<div class="tituloPrinc">
			<p>
				The clip property lets you specify a rectangle to clip an absolutely positioned element. 
				The rectangle is specified as four coordinates, all from the top-left corner of the element 
				to be clipped.
			</p>	
		</div>
	</div>	
</div>

<div id="contenedorSec">
	<div class="noticiasSec">
		<div class="imgNoticiasSec"><img class="imagenSec" src="../../assets/login.png" alt=""></div>
		<div class="detallesSec">Machala 12</div>
		<div class="tituloSec">
			<p>
				The clip property lets you specify a rectangle to clip an absolutely positioned element. 
				The rectangle is specified as four coordinates, all from the top-left corner of the element 
				to be clipped.
			</p>
		</div>
	</div>
	<div class="noticiasSec">
		<div class="imgNoticiasSec"><img class="imagenSec" src="../../assets/login.png" alt=""></div>
		<div class="detallesSec">Machala 12</div>
		<div class="tituloSec">
			<p>
				The clip property lets you specify a rectangle to clip an absolutely positioned element. 
				The rectangle is specified as four coordinates, all from the top-left corner of the element 
				to be clipped.
			</p>
		</div>
	</div>	
	<div class="noticiasSec">
		<div class="imgNoticiasSec"><img class="imagenSec" src="../../assets/login.png" alt=""></div>
		<div class="detallesSec">coordinates, all from the top-left corner of the</div>
		<div class="tituloSec">
			<p>
				The clip property lets you specify a rectangle to clip an absolutely positioned element. 
				The rectangle is specified as four coordinates, all from the top-left corner of the element 
				to be clipped.
			</p>
		</div>
	</div>	
</div>
